<div class="main-content">
  <div class="container-fluid">
      <div class="row">  
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">Add a completed task</h4>
                    <p class="card-category">Already achieved some tasks? Add them here</p>
                </div>
                <div class="card-body">
                    <form>
                        <div class="row">
                            <div class="col-md-12">
                              <mat-form-field class="example-full-width">
                                <input [(ngModel)]="description" name="description" matInput placeholder="Enter a description for your task here. (optional)">
                              </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input type="datetime-local" step="1" required [(ngModel)]="startingtimeinput" name="startingtimeinput" matInput placeholder="Enter starting time">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input type="datetime-local" step="1" required [(ngModel)]="endingtimeinput" name="endingtimeinput" matInput placeholder="Enter ending time">
                            </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="example-full-width">
                                <input type="time" step="1" required [(ngModel)]="timespentinput" name="timespentinput" matInput placeholder="Time passed on task">
                            </mat-form-field>
                            </div>
                        </div>
                        <button mat-raised-button type="submit" (click)="addTaskManually()" class="btn btn-danger pull-right">Add task</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>

          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Completed Tasks</h4>
                      <p class="card-category">Latest completed tasks</p>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table" *ngIf="myTask.length>0">
                              <thead class=" text-primary">
                                  <th>
                                      DESCRIPTION
                                  </th>
                                  <th>
                                      STARTING TIME
                                  </th>
                                  <th>
                                      ENDING TIME
                                  </th>
                                  <th>
                                      TIME ON TASK
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let task of myTask | paginate: { itemsPerPage: 5, currentPage: page}">
                                      <td>
                                        {{ task.split('$#')[0] }}
                                      </td>
                                      <td>
                                        {{ task.split('$#')[1] }}
                                      </td>
                                      <td>
                                        {{ task.split('$#')[2] }}
                                      </td>
                                      <td class="text-primary">
                                        {{ task.split('$#')[3] }}
                                      </td>
                                  </tr>
                              </tbody>
                          </table>
                          <h3 class="text-primary" align="center" *ngIf="myTask.length<=0">No Tasks Available !</h3>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="pagination">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
</div>
